.contato .imagem {
  grid-column: 2;
}

.contatos li  {
  display: block;
  margin-bottom: 1rem;
  color: #222;
  font-family: Helvetica, Arial;
}

.contatos li::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background: #fb5;
}

.footer p {
  background: #fb5;
  padding: 20px;
  margin-top: 32px;
  margin-bottom: 32px;
  grid-column: 2 / -1;
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
}

@media (max-width: 700px) {
  .footer p {
    margin-bottom: 0;
    grid-column: 1 / -1;
  }

  .contatos,
  .contato .imagem {
    grid-column: 1 / 4;
  }
}


[data-semana]::after{
  content: '';
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-left: 4px;
  background: #e54;
  border: 2px solid #000;
}

[data-semana].aberto::after{
  background: #3f4;
}
