.faq dl {
  grid-column: 2/-1;
}

.faq dt {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  color: #e54;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}

.faq dt::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background: #fb5;
}

.faq dd {
  font-family: Helvetica, Arial;
  margin-left: 30px;
}

@media (max-width: 700px) {
  .faq dl {
    grid-column: 1/-1;
  }

  .faq dt:first-child {
    margin-top: 0;
  }
}
